body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
nav {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}

.top_headlines {
  margin-top: 25%;
}

.logo_mobile img {
  width: 45%;
  height: 140%;
}

.nav_mobile {
  display: flex;
  justify-content: space-between;
}

.right_mobile {
  display: flex;
  align-items: center;
}

.right_mobile img {
  padding: 20%;
}

.vl {
  border-left: 0.1px solid gray;
  height: 70%;
}

.vlleft {
  padding-right: 5%;
}

.search_mobile {
  padding-right: 5%;
}

.headline {
  position: relative;
}

.headline img {
  width: 100%;
  height: 28vh;
}

.text_on_picture {
  position: absolute;
  top: 10%;
  left: 5%;
}

.title {
  color: white;
  font-size: 17px;
}

.he_about {
  color: white;
  font-size: 25px;
}

.by {
  color: gray;
}

.news_head {
  font-size: 25px;
  color: red;
  padding-left: 5%;
  margin-top: 40%;
  margin-bottom: 8%;
}

.article {
  display: flex;
  width: 95%;
  padding-bottom: 10%;
}

.article img {
  width: 75%;
  height: 95%;
  padding-left: 5%;
  padding-right: 5%;
}

.rounds_header {
  font-size: 25px;
  color: red;
  padding-left: 5%;
  margin-bottom: 8%;
}

.round_options {
  padding-left: 8%;
  color: red;
}

.company {
  background-color: red;
  margin-left: 9%;
  width: 55%;
  height: 10vh;
  padding-left: 30%;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 3%;
  position: relative;
}

.details {
  background-color: #ffebe7;
  margin-left: 9%;
  width: 85%;
  height: 13vh;
  display: block;
}

.company img {
  width: 20%;
  position: absolute;
  left: 9%;
  top: 31%;
}

.amount {
  padding-top: 5%;
  padding-left: 25%;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.amount a {
  color: black;
}

.investor {
  font-size: 12px;
  padding-top: 2%;
  padding-left: 25%;
}

.investor a {
  color: gray;
}

.content a {
  color: black;
}

.by a {
  color: gray;
}

.more_funding_info {
  margin-top: 7%;
  padding-left: 12%;
}

.briefcase {
  padding-top: 2%;
}

.info {
  font-size: 12px;
}

.on {
  color: gray;
}

.hidden {
  display: none;
}

.round {
  margin-top: 20%;
}

.info a {
  color: black;
}

.piece {
  position: relative;
}

.piece_text {
  position: absolute;
  left: 8%;
  top: 24%;
}

.piece_header {
  font-size: 25px;
  color: red;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 1%;
}

.piece_about {
  color: white;
  font-size: 25px;
}

.piece_title {
  font-size: 17px;
  color: white;
}

.piece_by {
  color: gray;
}

.content {
  color: black;
}

.piece img {
  width: 100%;
  height: 60vh;
}

.lower_box {
  display: flex;
  width: 100%;
  background-color: #fff4f2;
  color: red;
}

.lower_box img {
  width: 42%;
  height: 100%;
}

.latest_head {
  font-size: 12px;
}

.latest_items {
  padding-left: 8%;
}

.latest_about a {
  color: red;
}

.piece_list {
  list-style: none;
  padding-right: 20%;
}

.piece_list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.piece_list a {
  color: black;
}
=======

.footer-div {
  background-color: #14963f;
  margin-right: 2%;
 }

 .footer-icons {
  text-align: center;
  margin-top: 4%;
  padding: 2% 0 2% 0;
 }
 .social-icon {
  font-size: 20px;
  color: white;
  border: 1px solid grey;
  padding: 1%;
  border-radius: 50%;
  background-color: grey;
 }

 .twitter,
 .youtube,
 .quora,
 .email,
 .camera,
 .wifi {
   margin-left: 2%;
 }

.footer-links {
  text-align: center;
  font-size: 60%;
  padding-bottom: 4%;
  padding-top: 2%;
}

.jobs,
.contacts,
.advert,
.about,
.event {
  margin-left: 2%;
}

#footer-para {
  text-align: center;
  background-color: rgba(14, 13, 13, 0.61);
  color: rgba(255, 255, 255, 0.548);
  padding: 2%;
  padding-top: 4%;
  margin-right: 2%;
}

strong {
  color: white;
}


ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.555);
}
