body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.footer-div{
  background-color: rgba(27, 27, 27, 0.781);
  margin-right: 2%;
}
.footer-icons {
  text-align: center;
  margin-top: 4%;
  padding: 2% 0 2% 0;

 }
 .social-icon {
  font-size: 20px;
  color: white;
  border: 1px solid grey;
  padding: 1%;
  border-radius: 50%;
 }

 .twitter,
 .youtube,
 .quora,
 .email,
 .camera,
 .wifi {
   margin-left: 4%;
 }

.footer-links {
  text-align: center;
  font-size: 60%;
  padding-bottom: 4%;
  padding-top: 2%;
}

.jobs,
.contacts,
.advert,
.about,
.event {
  margin-left: 2%;
}

#footer-para {
  text-align: center;
  background-color: rgba(14, 13, 13, 0.61);
  background-color: rgba(10, 8, 8, 0.925);
  padding: 2%;
  padding-top: 4%;
  margin-right: 2%;
  
}

strong {
  color: white;
}


ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.555);}